/* ==================== General Settings ====================*/

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto:wght@500&display=swap');

*{
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Gabriel Weiss Friends';
  src: url('GABRWFFR.TTF');
}

/* ==================== Variables =========================== */

:root {
  --bg-color-yellow: #ffcc00;
  --bg-color-blue: #0077ff;
  --bg-color-purple: #8232ad;
  --bg-color-dark-purple: #390755;
  --bg-color-red: #b50f0f;
  --box-shadow-light-gray: 0 5px 10px 0 rgba(114, 111, 111, 0.48), 
      0 4px 12px 0 rgba(82, 80, 80, 0.46);
}

/* ================== Body ================================ */

body {
  background-color: var(--bg-color-purple);
  font-family: 'Acme', sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

/* ================== Scrollbar ============================= */

::-webkit-scrollbar {
  width: 2.8vmin; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #000; }
 
::-webkit-scrollbar-thumb {
  background: var(--bg-color-dark-purple); }

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color-yellow);
}

/* ==================Header ================================= */

/* header-img */
.headerImg {
  margin: 0 0 2vmax;
  width: 100%;
  border-radius: 0 0 2rem 2rem; /* top-left | top-right | bottom-right | bottom-left */
}

.headline {
  font: 1.8vmax 'Gabriel Weiss Friends', cursive;
  letter-spacing: .15rem;
  color: var(--bg-color-yellow);
  margin: 2.5vmax;
}

.titleMobile {   /* mobile only */
  font: 3rem 'Gabriel Weiss Friends', cursive;
  letter-spacing: .2rem;
  color: var(--bg-color-yellow);
  margin: 0 2vmax;
}

/* ===================== Main ============================= */

.mainContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
}

/* ===================== Card ============================= */

.card, .newCard {
  background-image: url('components/images/img01.png');
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 3vmax;
}

.card {
  width: 40rem;
  height: 45rem;
}

.newCard {
  width: 33rem;
  height: 38rem;
}

.cardImage {
  width: 85%;
  height: 85%;
  margin-top: 3vmin;
}

.newCardImage {
  width: 80%;
  height: 80%;
  margin-top: -2vmin;
}

.newCardImage:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.cardText {
  font-size: 1.4vmax;
  color: #fff;
  line-height: 1.7vmax;
  white-space: wrap;
  margin: 17% auto 12%;
  padding-bottom: 1vmax;
  width: 50%;
  /* background glass effect */
  background: rgba(202, 243, 173, 0.138);
  box-shadow: 0 4px 30px rgba(23, 250, 15, 0.260);
  box-shadow: 0 0 60px 1px var(--bg-color-yellow);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
}

.cardName {
  color: var(--bg-color-yellow);
  text-transform: capitalize;
}

.cardQuote {
  color: var(--bg-color-red);
  font-weight: 500;
  margin: .8rem;
}

.trunfoCard {
  color: var(--bg-color-red);
  background-color: var(--bg-color-yellow);
}

/* ====================== Form ============================== */

.form {
  color: #fff;
  font-size: 1.8vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vmax 1.5vmax;
  padding: 2vmax;
  background-color: rgba(59, 67, 65, 0.225);
  border-radius: 3.2rem;
}

input, text, textarea, select {
  font: 1.5vmax 'Roboto', sans-serif;
  margin: 1vmin;
  padding-left: 1.5vmin;
  border-radius: .5rem;
  border-color: var(--bg-color-yellow);
  outline: none;
}

input:focus {
  border: .2rem solid var(--bg-color-blue);
}

textarea:focus {
  border: .2rem solid var(--bg-color-blue);
}

select:focus {
  border: .2rem solid var(--bg-color-blue);
}

select {
  cursor: pointer;
}

/* checkbox */
#trunfoInputCheck {
  accent-color: var(--bg-color-yellow);
  width: 1.4rem;
  height: 1.4rem;
  margin-top: 2vmax;
  cursor: pointer;
}

/* message informing trunfo card exists */
.warningInfo {
  font-size: 1.4vmax;
  color: var(--bg-color-yellow);
  margin: 1vmax;
}

/* ======================= Save-button =========================== */

/* button */
.btn-save {
  font: 1.4vmax 'Gabriel Weiss Friends', cursive;
  font-weight: bold;
  color: #fff;  
  background-color: var(--bg-color-yellow);
  box-shadow: var(--box-shadow-light-gray);
  margin: 2vmax auto .8vmax;
  padding: 2vmin;
  width: 50%;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.btn-save:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.btn-save:disabled {
  background-color: #9c9577a4;
  border: 1px solid var(--bg-color-yellow);
}

/* =================== Delete-button ======================= */

.deleteButton {
  font: 1.2vmax 'Gabriel Weiss Friends', cursive;
  color: #fff;  
  letter-spacing: .2rem;
  background-color: rgba(155, 13, 13, 0.712);
  box-shadow: var(--box-shadow-light-gray);
  margin-top: -15vmax;
  padding: 1.5vmin;
  width: 30%;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.deleteButton:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

/* =================== Footer ============================ */

.box-footer {
  font: 1.1vmax 'Acme', sans-serif;
  letter-spacing: .05rem;
  padding: 4rem 0 1rem;
  margin: 0;
  text-align: center;
  color: #fff;
  background-color: var(--bg-color-dark-purple);
}

.footerImg {
  width: 33vmax;
  height: 13vmax;
  margin-bottom: -4.4rem;
}

/* ================== Media queries ========================= */

@media (min-width: 65rem) {  /* desktop format */
  .titleMobile { 
    display: none; 
  }    
}

@media (max-width: 65rem) {  /* mobile format */
  .imgTitle { 
    display: none; } 

  .titleMobile {   /* mobile only */
    font-size: 8vmax; }

  .headline {
    font-size: 2.5vmax; }

  .form {
    font-size: 3.5vmax; }

  input, text, textarea, select {
    font-size: 2.5vmax; }

  .cardText {
    font-size: 1.7vmax; }

  .footerImg {
    width: 44vmax;
    height: 22vmax;
  }

  .box-footer {
    font-size: 1.7vmax; }

  .warningInfo {
    font-size: 1.7vmax;
  }
}

@media (max-width: 35rem) {  /* mobile format */
  .newCard {
    margin: -8rem 1rem -8rem; }
  
  .Card {
    margin-bottom: -4rem; }
}

/* ================================================== */